<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.gaoyisheng.dao.OpusAwardMapper">
  <resultMap id="BaseResultMap" type="site.gaoyisheng.pojo.OpusAward">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="no1_auther_type" jdbcType="VARCHAR" property="no1AutherType" />
    <result column="no1_auther_name" jdbcType="VARCHAR" property="no1AutherName" />
    <result column="workunit" jdbcType="VARCHAR" property="workunit" />
    <result column="publish_workunit" jdbcType="VARCHAR" property="publishWorkunit" />
    <result column="publish_date" jdbcType="VARCHAR" property="publishDate" />
    <result column="publish_location" jdbcType="VARCHAR" property="publishLocation" />
    <result column="opus_category" jdbcType="VARCHAR" property="opusCategory" />
    <result column="teaching_material_category" jdbcType="VARCHAR" property="teachingMaterialCategory" />
    <result column="subject_type" jdbcType="VARCHAR" property="subjectType" />
    <result column="stair_subject" jdbcType="VARCHAR" property="stairSubject" />
    <result column="project_sources" jdbcType="VARCHAR" property="projectSources" />
    <result column="words_numbers" jdbcType="VARCHAR" property="wordsNumbers" />
    <result column="translated_foreign_or_not" jdbcType="VARCHAR" property="translatedForeignOrNot" />
    <result column="school_sign" jdbcType="VARCHAR" property="schoolSign" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="isbn" jdbcType="VARCHAR" property="isbn" />
    <result column="cip" jdbcType="VARCHAR" property="cip" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="publishing_level" jdbcType="VARCHAR" property="publishingLevel" />
    <result column="no1_auther_number" jdbcType="VARCHAR" property="no1AutherNumber" />
    <result column="no2_auther_name" jdbcType="VARCHAR" property="no2AutherName" />
    <result column="no2_auther_number" jdbcType="VARCHAR" property="no2AutherNumber" />
    <result column="no3_auther_name" jdbcType="VARCHAR" property="no3AutherName" />
    <result column="no3_auther_number" jdbcType="VARCHAR" property="no3AutherNumber" />
    <result column="no4_auther_name" jdbcType="VARCHAR" property="no4AutherName" />
    <result column="no4_auther_number" jdbcType="VARCHAR" property="no4AutherNumber" />
    <result column="no5_auther_name" jdbcType="VARCHAR" property="no5AutherName" />
    <result column="no5_auther_number" jdbcType="VARCHAR" property="no5AutherNumber" />
    <result column="no6_auther_name" jdbcType="VARCHAR" property="no6AutherName" />
    <result column="no6_auther_number" jdbcType="VARCHAR" property="no6AutherNumber" />
    <result column="no7_auther_name" jdbcType="VARCHAR" property="no7AutherName" />
    <result column="no7_auther_number" jdbcType="VARCHAR" property="no7AutherNumber" />
    <result column="no8_auther_name" jdbcType="VARCHAR" property="no8AutherName" />
    <result column="no8_auther_number" jdbcType="VARCHAR" property="no8AutherNumber" />
    <result column="no9_auther_name" jdbcType="VARCHAR" property="no9AutherName" />
    <result column="no9_auther_number" jdbcType="VARCHAR" property="no9AutherNumber" />
    <result column="no10_auther_name" jdbcType="VARCHAR" property="no10AutherName" />
    <result column="no10_auther_number" jdbcType="VARCHAR" property="no10AutherNumber" />
    <result column="auther_number" jdbcType="INTEGER" property="autherNumber" />
    <result column="sdut_auther_number" jdbcType="INTEGER" property="sdutAutherNumber" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, no1_auther_type, no1_auther_name, workunit, publish_workunit, publish_date, 
    publish_location, opus_category, teaching_material_category, subject_type, stair_subject, 
    project_sources, words_numbers, translated_foreign_or_not, school_sign, language, 
    isbn, cip, introduce, publishing_level, no1_auther_number, no2_auther_name, no2_auther_number, 
    no3_auther_name, no3_auther_number, no4_auther_name, no4_auther_number, no5_auther_name, 
    no5_auther_number, no6_auther_name, no6_auther_number, no7_auther_name, no7_auther_number, 
    no8_auther_name, no8_auther_number, no9_auther_name, no9_auther_number, no10_auther_name, 
    no10_auther_number, auther_number, sdut_auther_number, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from opus_award
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
	<!-- additional-->
    	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from opus_award
	</select>

	<!-- 根据 认领状态 查询 -->
	<select id="selectByStatus" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from opus_award e
		where e.status = #{status}
	</select>
	
	<!-- 统计数目: 未认领/已认领 -->	
	<select id="selectCountByStatus" resultType="Integer">
		select count(*) as claimed
		from opus_award e
		where e.status = #{status}
	</select>
	
	<!-- 统计数目:  所有 -->	
	<select id="selectCount" resultType="Integer">
		select count(*) as total
		from opus_award e
	</select>
  
  
	<select id="selectByMultiConditions" parameterType="map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from opus_award
		<where>
			<if test="name != '' and name != null">
				name like concat('%','${name}','%')
			</if>
			<if test="autherName != '' and autherName != null">
				AND words_numbers like concat('%','${autherName}','%')
			</if>
			<if test="claimStatus != '' and claimStatus != null">
				AND status = #{claimStatus}
			</if>
			<if test="no10AutherName != '' and no10AutherName != null">
				AND no10_auther_name like concat('%','${no10AutherName}','%')
			</if>
			<if test="no10AutherNumber != '' and no10AutherNumber != null">
				AND no10_auther_number = #{no10AutherNumber}
			</if>
		</where> 
	</select>
  
  
	<!-- 批量插入 -->
	<insert id="insertList" parameterType="java.util.List">
      
		insert into opus_award 
		(
		 name, no1_auther_type, no1_auther_name, workunit, publish_workunit, publish_date, 
    publish_location, opus_category, teaching_material_category, subject_type, stair_subject, 
    project_sources, words_numbers, translated_foreign_or_not, school_sign, language, 
    isbn, cip, introduce, publishing_level, no1_auther_number, no2_auther_name, no2_auther_number, 
    no3_auther_name, no3_auther_number, no4_auther_name, no4_auther_number, no5_auther_name, 
    no5_auther_number, no6_auther_name, no6_auther_number, no7_auther_name, no7_auther_number, 
    no8_auther_name, no8_auther_number, no9_auther_name, no9_auther_number, no10_auther_name, 
    no10_auther_number, auther_number, sdut_auther_number, status
		)
		values
		<foreach collection="list" item="t" index="index" separator=",">
			(#{t.name}, #{t.no1AutherType}, 
      #{t.no1AutherName}, #{t.workunit}, #{t.publishWorkunit}, 
      #{t.publishDate}, #{t.publishLocation}, #{t.opusCategory}, 
      #{t.teachingMaterialCategory}, #{t.subjectType}, 
      #{t.stairSubject}, #{t.projectSources}, #{t.wordsNumbers}, 
      #{t.translatedForeignOrNot}, #{t.schoolSign}, #{t.language}, 
      #{t.isbn}, #{t.cip}, #{t.introduce}, 
      #{t.publishingLevel}, #{t.no1AutherNumber}, #{t.no2AutherName}, 
      #{t.no2AutherNumber}, #{t.no3AutherName}, #{t.no3AutherNumber}, 
      #{t.no4AutherName}, #{t.no4AutherNumber}, #{t.no5AutherName}, 
      #{t.no5AutherNumber}, #{t.no6AutherName}, #{t.no6AutherNumber}, 
      #{t.no7AutherName}, #{t.no7AutherNumber}, #{t.no8AutherName}, 
      #{t.no8AutherNumber}, #{t.no9AutherName}, #{t.no9AutherNumber}, 
      #{t.no10AutherName}, #{t.no10AutherNumber}, #{t.autherNumber}, 
      #{t.sdutAutherNumber}, #{t.status}
			)
		</foreach>
	</insert>
	
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from opus_award
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="site.gaoyisheng.pojo.OpusAward">
    insert into opus_award (id, name, no1_auther_type, 
      no1_auther_name, workunit, publish_workunit, 
      publish_date, publish_location, opus_category, 
      teaching_material_category, subject_type, 
      stair_subject, project_sources, words_numbers, 
      translated_foreign_or_not, school_sign, language, 
      isbn, cip, introduce, 
      publishing_level, no1_auther_number, no2_auther_name, 
      no2_auther_number, no3_auther_name, no3_auther_number, 
      no4_auther_name, no4_auther_number, no5_auther_name, 
      no5_auther_number, no6_auther_name, no6_auther_number, 
      no7_auther_name, no7_auther_number, no8_auther_name, 
      no8_auther_number, no9_auther_name, no9_auther_number, 
      no10_auther_name, no10_auther_number, auther_number, 
      sdut_auther_number, status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{no1AutherType,jdbcType=VARCHAR}, 
      #{no1AutherName,jdbcType=VARCHAR}, #{workunit,jdbcType=VARCHAR}, #{publishWorkunit,jdbcType=VARCHAR}, 
      #{publishDate,jdbcType=VARCHAR}, #{publishLocation,jdbcType=VARCHAR}, #{opusCategory,jdbcType=VARCHAR}, 
      #{teachingMaterialCategory,jdbcType=VARCHAR}, #{subjectType,jdbcType=VARCHAR}, 
      #{stairSubject,jdbcType=VARCHAR}, #{projectSources,jdbcType=VARCHAR}, #{wordsNumbers,jdbcType=VARCHAR}, 
      #{translatedForeignOrNot,jdbcType=VARCHAR}, #{schoolSign,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{isbn,jdbcType=VARCHAR}, #{cip,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, 
      #{publishingLevel,jdbcType=VARCHAR}, #{no1AutherNumber,jdbcType=VARCHAR}, #{no2AutherName,jdbcType=VARCHAR}, 
      #{no2AutherNumber,jdbcType=VARCHAR}, #{no3AutherName,jdbcType=VARCHAR}, #{no3AutherNumber,jdbcType=VARCHAR}, 
      #{no4AutherName,jdbcType=VARCHAR}, #{no4AutherNumber,jdbcType=VARCHAR}, #{no5AutherName,jdbcType=VARCHAR}, 
      #{no5AutherNumber,jdbcType=VARCHAR}, #{no6AutherName,jdbcType=VARCHAR}, #{no6AutherNumber,jdbcType=VARCHAR}, 
      #{no7AutherName,jdbcType=VARCHAR}, #{no7AutherNumber,jdbcType=VARCHAR}, #{no8AutherName,jdbcType=VARCHAR}, 
      #{no8AutherNumber,jdbcType=VARCHAR}, #{no9AutherName,jdbcType=VARCHAR}, #{no9AutherNumber,jdbcType=VARCHAR}, 
      #{no10AutherName,jdbcType=VARCHAR}, #{no10AutherNumber,jdbcType=VARCHAR}, #{autherNumber,jdbcType=INTEGER}, 
      #{sdutAutherNumber,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="site.gaoyisheng.pojo.OpusAward">
    insert into opus_award
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="no1AutherType != null">
        no1_auther_type,
      </if>
      <if test="no1AutherName != null">
        no1_auther_name,
      </if>
      <if test="workunit != null">
        workunit,
      </if>
      <if test="publishWorkunit != null">
        publish_workunit,
      </if>
      <if test="publishDate != null">
        publish_date,
      </if>
      <if test="publishLocation != null">
        publish_location,
      </if>
      <if test="opusCategory != null">
        opus_category,
      </if>
      <if test="teachingMaterialCategory != null">
        teaching_material_category,
      </if>
      <if test="subjectType != null">
        subject_type,
      </if>
      <if test="stairSubject != null">
        stair_subject,
      </if>
      <if test="projectSources != null">
        project_sources,
      </if>
      <if test="wordsNumbers != null">
        words_numbers,
      </if>
      <if test="translatedForeignOrNot != null">
        translated_foreign_or_not,
      </if>
      <if test="schoolSign != null">
        school_sign,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="isbn != null">
        isbn,
      </if>
      <if test="cip != null">
        cip,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="publishingLevel != null">
        publishing_level,
      </if>
      <if test="no1AutherNumber != null">
        no1_auther_number,
      </if>
      <if test="no2AutherName != null">
        no2_auther_name,
      </if>
      <if test="no2AutherNumber != null">
        no2_auther_number,
      </if>
      <if test="no3AutherName != null">
        no3_auther_name,
      </if>
      <if test="no3AutherNumber != null">
        no3_auther_number,
      </if>
      <if test="no4AutherName != null">
        no4_auther_name,
      </if>
      <if test="no4AutherNumber != null">
        no4_auther_number,
      </if>
      <if test="no5AutherName != null">
        no5_auther_name,
      </if>
      <if test="no5AutherNumber != null">
        no5_auther_number,
      </if>
      <if test="no6AutherName != null">
        no6_auther_name,
      </if>
      <if test="no6AutherNumber != null">
        no6_auther_number,
      </if>
      <if test="no7AutherName != null">
        no7_auther_name,
      </if>
      <if test="no7AutherNumber != null">
        no7_auther_number,
      </if>
      <if test="no8AutherName != null">
        no8_auther_name,
      </if>
      <if test="no8AutherNumber != null">
        no8_auther_number,
      </if>
      <if test="no9AutherName != null">
        no9_auther_name,
      </if>
      <if test="no9AutherNumber != null">
        no9_auther_number,
      </if>
      <if test="no10AutherName != null">
        no10_auther_name,
      </if>
      <if test="no10AutherNumber != null">
        no10_auther_number,
      </if>
      <if test="autherNumber != null">
        auther_number,
      </if>
      <if test="sdutAutherNumber != null">
        sdut_auther_number,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="no1AutherType != null">
        #{no1AutherType,jdbcType=VARCHAR},
      </if>
      <if test="no1AutherName != null">
        #{no1AutherName,jdbcType=VARCHAR},
      </if>
      <if test="workunit != null">
        #{workunit,jdbcType=VARCHAR},
      </if>
      <if test="publishWorkunit != null">
        #{publishWorkunit,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null">
        #{publishDate,jdbcType=VARCHAR},
      </if>
      <if test="publishLocation != null">
        #{publishLocation,jdbcType=VARCHAR},
      </if>
      <if test="opusCategory != null">
        #{opusCategory,jdbcType=VARCHAR},
      </if>
      <if test="teachingMaterialCategory != null">
        #{teachingMaterialCategory,jdbcType=VARCHAR},
      </if>
      <if test="subjectType != null">
        #{subjectType,jdbcType=VARCHAR},
      </if>
      <if test="stairSubject != null">
        #{stairSubject,jdbcType=VARCHAR},
      </if>
      <if test="projectSources != null">
        #{projectSources,jdbcType=VARCHAR},
      </if>
      <if test="wordsNumbers != null">
        #{wordsNumbers,jdbcType=VARCHAR},
      </if>
      <if test="translatedForeignOrNot != null">
        #{translatedForeignOrNot,jdbcType=VARCHAR},
      </if>
      <if test="schoolSign != null">
        #{schoolSign,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null">
        #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="cip != null">
        #{cip,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="publishingLevel != null">
        #{publishingLevel,jdbcType=VARCHAR},
      </if>
      <if test="no1AutherNumber != null">
        #{no1AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no2AutherName != null">
        #{no2AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no2AutherNumber != null">
        #{no2AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no3AutherName != null">
        #{no3AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no3AutherNumber != null">
        #{no3AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no4AutherName != null">
        #{no4AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no4AutherNumber != null">
        #{no4AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no5AutherName != null">
        #{no5AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no5AutherNumber != null">
        #{no5AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no6AutherName != null">
        #{no6AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no6AutherNumber != null">
        #{no6AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no7AutherName != null">
        #{no7AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no7AutherNumber != null">
        #{no7AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no8AutherName != null">
        #{no8AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no8AutherNumber != null">
        #{no8AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no9AutherName != null">
        #{no9AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no9AutherNumber != null">
        #{no9AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no10AutherName != null">
        #{no10AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no10AutherNumber != null">
        #{no10AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="autherNumber != null">
        #{autherNumber,jdbcType=INTEGER},
      </if>
      <if test="sdutAutherNumber != null">
        #{sdutAutherNumber,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.gaoyisheng.pojo.OpusAward">
    update opus_award
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="no1AutherType != null">
        no1_auther_type = #{no1AutherType,jdbcType=VARCHAR},
      </if>
      <if test="no1AutherName != null">
        no1_auther_name = #{no1AutherName,jdbcType=VARCHAR},
      </if>
      <if test="workunit != null">
        workunit = #{workunit,jdbcType=VARCHAR},
      </if>
      <if test="publishWorkunit != null">
        publish_workunit = #{publishWorkunit,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null">
        publish_date = #{publishDate,jdbcType=VARCHAR},
      </if>
      <if test="publishLocation != null">
        publish_location = #{publishLocation,jdbcType=VARCHAR},
      </if>
      <if test="opusCategory != null">
        opus_category = #{opusCategory,jdbcType=VARCHAR},
      </if>
      <if test="teachingMaterialCategory != null">
        teaching_material_category = #{teachingMaterialCategory,jdbcType=VARCHAR},
      </if>
      <if test="subjectType != null">
        subject_type = #{subjectType,jdbcType=VARCHAR},
      </if>
      <if test="stairSubject != null">
        stair_subject = #{stairSubject,jdbcType=VARCHAR},
      </if>
      <if test="projectSources != null">
        project_sources = #{projectSources,jdbcType=VARCHAR},
      </if>
      <if test="wordsNumbers != null">
        words_numbers = #{wordsNumbers,jdbcType=VARCHAR},
      </if>
      <if test="translatedForeignOrNot != null">
        translated_foreign_or_not = #{translatedForeignOrNot,jdbcType=VARCHAR},
      </if>
      <if test="schoolSign != null">
        school_sign = #{schoolSign,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null">
        isbn = #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="cip != null">
        cip = #{cip,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="publishingLevel != null">
        publishing_level = #{publishingLevel,jdbcType=VARCHAR},
      </if>
      <if test="no1AutherNumber != null">
        no1_auther_number = #{no1AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no2AutherName != null">
        no2_auther_name = #{no2AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no2AutherNumber != null">
        no2_auther_number = #{no2AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no3AutherName != null">
        no3_auther_name = #{no3AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no3AutherNumber != null">
        no3_auther_number = #{no3AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no4AutherName != null">
        no4_auther_name = #{no4AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no4AutherNumber != null">
        no4_auther_number = #{no4AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no5AutherName != null">
        no5_auther_name = #{no5AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no5AutherNumber != null">
        no5_auther_number = #{no5AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no6AutherName != null">
        no6_auther_name = #{no6AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no6AutherNumber != null">
        no6_auther_number = #{no6AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no7AutherName != null">
        no7_auther_name = #{no7AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no7AutherNumber != null">
        no7_auther_number = #{no7AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no8AutherName != null">
        no8_auther_name = #{no8AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no8AutherNumber != null">
        no8_auther_number = #{no8AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no9AutherName != null">
        no9_auther_name = #{no9AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no9AutherNumber != null">
        no9_auther_number = #{no9AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="no10AutherName != null">
        no10_auther_name = #{no10AutherName,jdbcType=VARCHAR},
      </if>
      <if test="no10AutherNumber != null">
        no10_auther_number = #{no10AutherNumber,jdbcType=VARCHAR},
      </if>
      <if test="autherNumber != null">
        auther_number = #{autherNumber,jdbcType=INTEGER},
      </if>
      <if test="sdutAutherNumber != null">
        sdut_auther_number = #{sdutAutherNumber,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.gaoyisheng.pojo.OpusAward">
    update opus_award
    set name = #{name,jdbcType=VARCHAR},
      no1_auther_type = #{no1AutherType,jdbcType=VARCHAR},
      no1_auther_name = #{no1AutherName,jdbcType=VARCHAR},
      workunit = #{workunit,jdbcType=VARCHAR},
      publish_workunit = #{publishWorkunit,jdbcType=VARCHAR},
      publish_date = #{publishDate,jdbcType=VARCHAR},
      publish_location = #{publishLocation,jdbcType=VARCHAR},
      opus_category = #{opusCategory,jdbcType=VARCHAR},
      teaching_material_category = #{teachingMaterialCategory,jdbcType=VARCHAR},
      subject_type = #{subjectType,jdbcType=VARCHAR},
      stair_subject = #{stairSubject,jdbcType=VARCHAR},
      project_sources = #{projectSources,jdbcType=VARCHAR},
      words_numbers = #{wordsNumbers,jdbcType=VARCHAR},
      translated_foreign_or_not = #{translatedForeignOrNot,jdbcType=VARCHAR},
      school_sign = #{schoolSign,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      isbn = #{isbn,jdbcType=VARCHAR},
      cip = #{cip,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      publishing_level = #{publishingLevel,jdbcType=VARCHAR},
      no1_auther_number = #{no1AutherNumber,jdbcType=VARCHAR},
      no2_auther_name = #{no2AutherName,jdbcType=VARCHAR},
      no2_auther_number = #{no2AutherNumber,jdbcType=VARCHAR},
      no3_auther_name = #{no3AutherName,jdbcType=VARCHAR},
      no3_auther_number = #{no3AutherNumber,jdbcType=VARCHAR},
      no4_auther_name = #{no4AutherName,jdbcType=VARCHAR},
      no4_auther_number = #{no4AutherNumber,jdbcType=VARCHAR},
      no5_auther_name = #{no5AutherName,jdbcType=VARCHAR},
      no5_auther_number = #{no5AutherNumber,jdbcType=VARCHAR},
      no6_auther_name = #{no6AutherName,jdbcType=VARCHAR},
      no6_auther_number = #{no6AutherNumber,jdbcType=VARCHAR},
      no7_auther_name = #{no7AutherName,jdbcType=VARCHAR},
      no7_auther_number = #{no7AutherNumber,jdbcType=VARCHAR},
      no8_auther_name = #{no8AutherName,jdbcType=VARCHAR},
      no8_auther_number = #{no8AutherNumber,jdbcType=VARCHAR},
      no9_auther_name = #{no9AutherName,jdbcType=VARCHAR},
      no9_auther_number = #{no9AutherNumber,jdbcType=VARCHAR},
      no10_auther_name = #{no10AutherName,jdbcType=VARCHAR},
      no10_auther_number = #{no10AutherNumber,jdbcType=VARCHAR},
      auther_number = #{autherNumber,jdbcType=INTEGER},
      sdut_auther_number = #{sdutAutherNumber,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>