<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.gaoyisheng.dao.ThesisMapper">
	<resultMap id="BaseResultMap" type="site.gaoyisheng.pojo.Thesis">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="no1_auther_type" jdbcType="VARCHAR" property="no1AutherType" />
		<result column="no1_auther_name" jdbcType="VARCHAR" property="no1AutherName" />
		<result column="communicate_auther_name" jdbcType="VARCHAR"
			property="communicateAutherName" />
		<result column="workunit" jdbcType="VARCHAR" property="workunit" />
		<result column="other_auther_name" jdbcType="VARCHAR" property="otherAutherName" />
		<result column="publish_date" jdbcType="VARCHAR" property="publishDate" />
		<result column="publish_magazine_thesis_set" jdbcType="VARCHAR"
			property="publishMagazineThesisSet" />
		<result column="magazine_type" jdbcType="VARCHAR" property="magazineType" />
		<result column="subject_type" jdbcType="VARCHAR" property="subjectType" />
		<result column="stair_subject" jdbcType="VARCHAR" property="stairSubject" />
		<result column="project_sources" jdbcType="VARCHAR" property="projectSources" />
		<result column="publish_range" jdbcType="VARCHAR" property="publishRange" />
		<result column="thesis_set_publisher" jdbcType="VARCHAR"
			property="thesisSetPublisher" />
		<result column="words_numbers" jdbcType="VARCHAR" property="wordsNumbers" />
		<result column="school_sign" jdbcType="VARCHAR" property="schoolSign" />
		<result column="key_words" jdbcType="VARCHAR" property="keyWords" />
		<result column="the_abstract" jdbcType="VARCHAR" property="theAbstract" />
		<result column="note" jdbcType="VARCHAR" property="note" />
		<result column="appearance" jdbcType="VARCHAR" property="appearance" />
		<result column="cnki_link" jdbcType="VARCHAR" property="cnkiLink" />
		<result column="issn" jdbcType="VARCHAR" property="issn" />
		<result column="cn" jdbcType="VARCHAR" property="cn" />
		<result column="volume_number_page" jdbcType="VARCHAR"
			property="volumeNumberPage" />
		<result column="doi" jdbcType="VARCHAR" property="doi" />
		<result column="conference_name" jdbcType="VARCHAR" property="conferenceName" />
		<result column="conference_site" jdbcType="VARCHAR" property="conferenceSite" />
		<result column="conference_date" jdbcType="VARCHAR" property="conferenceDate" />
		<result column="embody_number" jdbcType="VARCHAR" property="embodyNumber" />
		<result column="translation_or_not" jdbcType="VARCHAR"
			property="translationOrNot" />
		<result column="reference_frequency" jdbcType="VARCHAR"
			property="referenceFrequency" />
		<result column="support_project" jdbcType="VARCHAR" property="supportProject" />
		<result column="no2_auther_name" jdbcType="VARCHAR" property="no2AutherName" />
		<result column="no2_auther_number" jdbcType="VARCHAR" property="no2AutherNumber" />
		<result column="no3_auther_name" jdbcType="VARCHAR" property="no3AutherName" />
		<result column="no3_auther_number" jdbcType="VARCHAR" property="no3AutherNumber" />
		<result column="no4_auther_name" jdbcType="VARCHAR" property="no4AutherName" />
		<result column="no4_auther_number" jdbcType="VARCHAR" property="no4AutherNumber" />
		<result column="no5_auther_name" jdbcType="VARCHAR" property="no5AutherName" />
		<result column="no5_auther_number" jdbcType="VARCHAR" property="no5AutherNumber" />
		<result column="no6_auther_name" jdbcType="VARCHAR" property="no6AutherName" />
		<result column="no6_auther_number" jdbcType="VARCHAR" property="no6AutherNumber" />
		<result column="no7_auther_name" jdbcType="VARCHAR" property="no7AutherName" />
		<result column="no7_auther_number" jdbcType="VARCHAR" property="no7AutherNumber" />
		<result column="no8_auther_name" jdbcType="VARCHAR" property="no8AutherName" />
		<result column="no8_auther_number" jdbcType="VARCHAR" property="no8AutherNumber" />
		<result column="no9_auther_name" jdbcType="VARCHAR" property="no9AutherName" />
		<result column="no9_auther_number" jdbcType="VARCHAR" property="no9AutherNumber" />
		<result column="no10_auther_name" jdbcType="VARCHAR" property="no10AutherName" />
		<result column="no10_auther_number" jdbcType="VARCHAR"
			property="no10AutherNumber" />
		<result column="no1_auther_number" jdbcType="VARCHAR" property="no1AutherNumber" />
		<result column="auther_number" jdbcType="INTEGER" property="autherNumber" />
		<result column="sdut_auther_number" jdbcType="INTEGER"
			property="sdutAutherNumber" />
		<result column="status" jdbcType="VARCHAR" property="status" />
	</resultMap>
	<sql id="Base_Column_List">
		id, type, name, no1_auther_type, no1_auther_name,
		communicate_auther_name, workunit,
		other_auther_name, publish_date,
		publish_magazine_thesis_set, magazine_type,
		subject_type,
		stair_subject, project_sources, publish_range, thesis_set_publisher,
		words_numbers,
		school_sign, key_words, the_abstract, note, appearance,
		cnki_link,
		issn, cn, volume_number_page,
		doi, conference_name,
		conference_site, conference_date, embody_number,
		translation_or_not,
		reference_frequency, support_project, no2_auther_name,
		no2_auther_number, no3_auther_name,
		no3_auther_number, no4_auther_name,
		no4_auther_number,
		no5_auther_name, no5_auther_number,
		no6_auther_name,
		no6_auther_number, no7_auther_name, no7_auther_number,
		no8_auther_name,
		no8_auther_number, no9_auther_name, no9_auther_number,
		no10_auther_name,
		no10_auther_number,
		no1_auther_number, auther_number,
		sdut_auther_number, status
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from public.thesis
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectAllThesis" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from public.thesis
	</select>

	<select id="selectAllThesisLikeUserNameAndNumber" parameterType="site.gaoyisheng.pojo.User"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from public."thesis" t
		where
		( t.no1_auther_name like
		concat('%','${name}','%')
		or t.other_auther_name like
		concat('%','${name}','%')
		)
		and t.status = 'true'
	</select>
	<select id="selectThesisSelective" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from public."thesis"
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from public.thesis
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="site.gaoyisheng.pojo.Thesis">
		insert into thesis (type,
		name,
		no1_auther_type, no1_auther_name, communicate_auther_name,
		workunit, other_auther_name, publish_date,
		publish_magazine_thesis_set, magazine_type,
		subject_type,
		stair_subject, project_sources,
		publish_range, thesis_set_publisher,
		words_numbers,
		school_sign, key_words, the_abstract,
		note, appearance,
		cnki_link,
		issn, cn, volume_number_page,
		doi, conference_name,
		conference_site,
		conference_date, embody_number, translation_or_not,
		reference_frequency, support_project, no2_auther_name,
		no2_auther_number, no3_auther_name, no3_auther_number,
		no4_auther_name, no4_auther_number, no5_auther_name,
		no5_auther_number, no6_auther_name, no6_auther_number,
		no7_auther_name, no7_auther_number, no8_auther_name,
		no8_auther_number, no9_auther_name, no9_auther_number,
		no10_auther_name, no10_auther_number, no1_auther_number,
		auther_number, sdut_auther_number, status
		)
		values
		(#{type,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{no1AutherType,jdbcType=VARCHAR},
		#{no1AutherName,jdbcType=VARCHAR},
		#{communicateAutherName,jdbcType=VARCHAR},
		#{workunit,jdbcType=VARCHAR}, #{otherAutherName,jdbcType=VARCHAR},
		#{publishDate,jdbcType=VARCHAR},
		#{publishMagazineThesisSet,jdbcType=VARCHAR},
		#{magazineType,jdbcType=VARCHAR},
		#{subjectType,jdbcType=VARCHAR},
		#{stairSubject,jdbcType=VARCHAR}, #{projectSources,jdbcType=VARCHAR},
		#{publishRange,jdbcType=VARCHAR},
		#{thesisSetPublisher,jdbcType=VARCHAR},
		#{wordsNumbers,jdbcType=VARCHAR},
		#{schoolSign,jdbcType=VARCHAR},
		#{keyWords,jdbcType=VARCHAR}, #{theAbstract,jdbcType=VARCHAR},
		#{note,jdbcType=VARCHAR}, #{appearance,jdbcType=VARCHAR},
		#{cnkiLink,jdbcType=VARCHAR},
		#{issn,jdbcType=VARCHAR},
		#{cn,jdbcType=VARCHAR}, #{volumeNumberPage,jdbcType=VARCHAR},
		#{doi,jdbcType=VARCHAR}, #{conferenceName,jdbcType=VARCHAR},
		#{conferenceSite,jdbcType=VARCHAR},
		#{conferenceDate,jdbcType=VARCHAR}, #{embodyNumber,jdbcType=VARCHAR},
		#{translationOrNot,jdbcType=VARCHAR},
		#{referenceFrequency,jdbcType=VARCHAR},
		#{supportProject,jdbcType=VARCHAR}, #{no2AutherName,jdbcType=VARCHAR},
		#{no2AutherNumber,jdbcType=VARCHAR},
		#{no3AutherName,jdbcType=VARCHAR},
		#{no3AutherNumber,jdbcType=VARCHAR},
		#{no4AutherName,jdbcType=VARCHAR},
		#{no4AutherNumber,jdbcType=VARCHAR},
		#{no5AutherName,jdbcType=VARCHAR},
		#{no5AutherNumber,jdbcType=VARCHAR},
		#{no6AutherName,jdbcType=VARCHAR},
		#{no6AutherNumber,jdbcType=VARCHAR},
		#{no7AutherName,jdbcType=VARCHAR},
		#{no7AutherNumber,jdbcType=VARCHAR},
		#{no8AutherName,jdbcType=VARCHAR},
		#{no8AutherNumber,jdbcType=VARCHAR},
		#{no9AutherName,jdbcType=VARCHAR},
		#{no9AutherNumber,jdbcType=VARCHAR},
		#{no10AutherName,jdbcType=VARCHAR},
		#{no10AutherNumber,jdbcType=VARCHAR},
		#{no1AutherNumber,jdbcType=VARCHAR},
		#{autherNumber,jdbcType=INTEGER},
		#{sdutAutherNumber,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="site.gaoyisheng.pojo.Thesis">
		insert into public.thesis
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="type != null">
				type,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="no1AutherType != null">
				no1_auther_type,
			</if>
			<if test="no1AutherName != null">
				no1_auther_name,
			</if>
			<if test="communicateAutherName != null">
				communicate_auther_name,
			</if>
			<if test="workunit != null">
				workunit,
			</if>
			<if test="otherAutherName != null">
				other_auther_name,
			</if>
			<if test="publishDate != null">
				publish_date,
			</if>
			<if test="publishMagazineThesisSet != null">
				publish_magazine_thesis_set,
			</if>
			<if test="magazineType != null">
				magazine_type,
			</if>
			<if test="subjectType != null">
				subject_type,
			</if>
			<if test="stairSubject != null">
				stair_subject,
			</if>
			<if test="projectSources != null">
				project_sources,
			</if>
			<if test="publishRange != null">
				publish_range,
			</if>
			<if test="thesisSetPublisher != null">
				thesis_set_publisher,
			</if>
			<if test="wordsNumbers != null">
				words_numbers,
			</if>
			<if test="schoolSign != null">
				school_sign,
			</if>
			<if test="keyWords != null">
				key_words,
			</if>
			<if test="theAbstract != null">
				the_abstract,
			</if>
			<if test="note != null">
				note,
			</if>
			<if test="appearance != null">
				appearance,
			</if>
			<if test="cnkiLink != null">
				cnki_link,
			</if>
			<if test="issn != null">
				issn,
			</if>
			<if test="cn != null">
				cn,
			</if>
			<if test="volumeNumberPage != null">
				volume_number_page,
			</if>
			<if test="doi != null">
				doi,
			</if>
			<if test="conferenceName != null">
				conference_name,
			</if>
			<if test="conferenceSite != null">
				conference_site,
			</if>
			<if test="conferenceDate != null">
				conference_date,
			</if>
			<if test="embodyNumber != null">
				embody_number,
			</if>
			<if test="translationOrNot != null">
				translation_or_not,
			</if>
			<if test="referenceFrequency != null">
				reference_frequency,
			</if>
			<if test="supportProject != null">
				support_project,
			</if>
			<if test="no2AutherName != null">
				no2_auther_name,
			</if>
			<if test="no2AutherNumber != null">
				no2_auther_number,
			</if>
			<if test="no3AutherName != null">
				no3_auther_name,
			</if>
			<if test="no3AutherNumber != null">
				no3_auther_number,
			</if>
			<if test="no4AutherName != null">
				no4_auther_name,
			</if>
			<if test="no4AutherNumber != null">
				no4_auther_number,
			</if>
			<if test="no5AutherName != null">
				no5_auther_name,
			</if>
			<if test="no5AutherNumber != null">
				no5_auther_number,
			</if>
			<if test="no6AutherName != null">
				no6_auther_name,
			</if>
			<if test="no6AutherNumber != null">
				no6_auther_number,
			</if>
			<if test="no7AutherName != null">
				no7_auther_name,
			</if>
			<if test="no7AutherNumber != null">
				no7_auther_number,
			</if>
			<if test="no8AutherName != null">
				no8_auther_name,
			</if>
			<if test="no8AutherNumber != null">
				no8_auther_number,
			</if>
			<if test="no9AutherName != null">
				no9_auther_name,
			</if>
			<if test="no9AutherNumber != null">
				no9_auther_number,
			</if>
			<if test="no10AutherName != null">
				no10_auther_name,
			</if>
			<if test="no10AutherNumber != null">
				no10_auther_number,
			</if>
			<if test="no1AutherNumber != null">
				no1_auther_number,
			</if>
			<if test="autherNumber != null">
				auther_number,
			</if>
			<if test="sdutAutherNumber != null">
				sdut_auther_number,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="no1AutherType != null">
				#{no1AutherType,jdbcType=VARCHAR},
			</if>
			<if test="no1AutherName != null">
				#{no1AutherName,jdbcType=VARCHAR},
			</if>
			<if test="communicateAutherName != null">
				#{communicateAutherName,jdbcType=VARCHAR},
			</if>
			<if test="workunit != null">
				#{workunit,jdbcType=VARCHAR},
			</if>
			<if test="otherAutherName != null">
				#{otherAutherName,jdbcType=VARCHAR},
			</if>
			<if test="publishDate != null">
				#{publishDate,jdbcType=VARCHAR},
			</if>
			<if test="publishMagazineThesisSet != null">
				#{publishMagazineThesisSet,jdbcType=VARCHAR},
			</if>
			<if test="magazineType != null">
				#{magazineType,jdbcType=VARCHAR},
			</if>
			<if test="subjectType != null">
				#{subjectType,jdbcType=VARCHAR},
			</if>
			<if test="stairSubject != null">
				#{stairSubject,jdbcType=VARCHAR},
			</if>
			<if test="projectSources != null">
				#{projectSources,jdbcType=VARCHAR},
			</if>
			<if test="publishRange != null">
				#{publishRange,jdbcType=VARCHAR},
			</if>
			<if test="thesisSetPublisher != null">
				#{thesisSetPublisher,jdbcType=VARCHAR},
			</if>
			<if test="wordsNumbers != null">
				#{wordsNumbers,jdbcType=VARCHAR},
			</if>
			<if test="schoolSign != null">
				#{schoolSign,jdbcType=VARCHAR},
			</if>
			<if test="keyWords != null">
				#{keyWords,jdbcType=VARCHAR},
			</if>
			<if test="theAbstract != null">
				#{theAbstract,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				#{note,jdbcType=VARCHAR},
			</if>
			<if test="appearance != null">
				#{appearance,jdbcType=VARCHAR},
			</if>
			<if test="cnkiLink != null">
				#{cnkiLink,jdbcType=VARCHAR},
			</if>
			<if test="issn != null">
				#{issn,jdbcType=VARCHAR},
			</if>
			<if test="cn != null">
				#{cn,jdbcType=VARCHAR},
			</if>
			<if test="volumeNumberPage != null">
				#{volumeNumberPage,jdbcType=VARCHAR},
			</if>
			<if test="doi != null">
				#{doi,jdbcType=VARCHAR},
			</if>
			<if test="conferenceName != null">
				#{conferenceName,jdbcType=VARCHAR},
			</if>
			<if test="conferenceSite != null">
				#{conferenceSite,jdbcType=VARCHAR},
			</if>
			<if test="conferenceDate != null">
				#{conferenceDate,jdbcType=VARCHAR},
			</if>
			<if test="embodyNumber != null">
				#{embodyNumber,jdbcType=VARCHAR},
			</if>
			<if test="translationOrNot != null">
				#{translationOrNot,jdbcType=VARCHAR},
			</if>
			<if test="referenceFrequency != null">
				#{referenceFrequency,jdbcType=VARCHAR},
			</if>
			<if test="supportProject != null">
				#{supportProject,jdbcType=VARCHAR},
			</if>
			<if test="no2AutherName != null">
				#{no2AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no2AutherNumber != null">
				#{no2AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no3AutherName != null">
				#{no3AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no3AutherNumber != null">
				#{no3AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no4AutherName != null">
				#{no4AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no4AutherNumber != null">
				#{no4AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no5AutherName != null">
				#{no5AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no5AutherNumber != null">
				#{no5AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no6AutherName != null">
				#{no6AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no6AutherNumber != null">
				#{no6AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no7AutherName != null">
				#{no7AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no7AutherNumber != null">
				#{no7AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no8AutherName != null">
				#{no8AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no8AutherNumber != null">
				#{no8AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no9AutherName != null">
				#{no9AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no9AutherNumber != null">
				#{no9AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no10AutherName != null">
				#{no10AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no10AutherNumber != null">
				#{no10AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no1AutherNumber != null">
				#{no1AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="autherNumber != null">
				#{autherNumber,jdbcType=INTEGER},
			</if>
			<if test="sdutAutherNumber != null">
				#{sdutAutherNumber,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 批量插入 -->
	<insert id="insertList" parameterType="java.util.List">
		
		insert into public.thesis
		(type, name, no1_auther_type,
		no1_auther_name,
		communicate_auther_name,
		workunit,
		other_auther_name,
		publish_date, publish_magazine_thesis_set,
		magazine_type,subject_type,
		stair_subject, project_sources,
		publish_range, thesis_set_publisher,
		words_numbers,
		school_sign,
		key_words, the_abstract, note, appearance,
		cnki_link,
		issn, cn,volume_number_page,
		doi, conference_name,
		conference_site,
		conference_date, embody_number,
		translation_or_not,reference_frequency, support_project,
		no2_auther_name,
		no2_auther_number, no3_auther_name,
		no3_auther_number,
		no4_auther_name,
		no4_auther_number,
		no5_auther_name, no5_auther_number,
		no6_auther_name,
		no6_auther_number, no7_auther_name, no7_auther_number,
		no8_auther_name,
		no8_auther_number, no9_auther_name, no9_auther_number,
		no10_auther_name,
		no10_auther_number,
		no1_auther_number, auther_number,
		sdut_auther_number, status)
		values
		<foreach collection="list" item="t" index="index" separator=",">
			(
			#{t.type},
			#{t.name},
			#{t.no1AutherType},
			#{t.no1AutherName},
			#{t.communicateAutherName},
			#{t.workunit},
			#{t.otherAutherName},
			#{t.publishDate},
			#{t.publishMagazineThesisSet},
			#{t.magazineType},
			#{t.subjectType},
			#{t.stairSubject},
			#{t.projectSources},
			#{t.publishRange},
			#{t.thesisSetPublisher},
			#{t.wordsNumbers},
			#{t.schoolSign},
			#{t.keyWords},
			#{t.theAbstract},
			#{t.note},
			#{t.appearance},
			#{t.cnkiLink},
			#{t.issn},
			#{t.cn},
			#{t.volumeNumberPage},
			#{t.doi},
			#{t.conferenceName},
			#{t.conferenceSite},
			#{t.conferenceDate},
			#{t.embodyNumber},
			#{t.translationOrNot},
			#{t.referenceFrequency},
			#{t.supportProject},
			#{t.no2AutherName},
			#{t.no2AutherNumber},
			#{t.no3AutherName},
			#{t.no3AutherNumber},
			#{t.no4AutherName},
			#{t.no4AutherNumber},
			#{t.no5AutherName},
			#{t.no5AutherNumber},
			#{t.no6AutherName},
			#{t.no6AutherNumber},
			#{t.no7AutherName},
			#{t.no7AutherNumber},
			#{t.no8AutherName},
			#{t.no8AutherNumber},
			#{t.no9AutherName},
			#{t.no9AutherNumber},
			#{t.no10AutherName},
			#{t.no10AutherNumber},
			#{t.no1AutherNumber},
			#{t.autherNumber},
			#{t.sdutAutherNumber},
			#{t.status}
			)
		</foreach>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="site.gaoyisheng.pojo.Thesis">
		update public.thesis
		<set>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="no1AutherType != null">
				no1_auther_type = #{no1AutherType,jdbcType=VARCHAR},
			</if>
			<if test="no1AutherName != null">
				no1_auther_name = #{no1AutherName,jdbcType=VARCHAR},
			</if>
			<if test="communicateAutherName != null">
				communicate_auther_name =
				#{communicateAutherName,jdbcType=VARCHAR},
			</if>
			<if test="workunit != null">
				workunit = #{workunit,jdbcType=VARCHAR},
			</if>
			<if test="otherAutherName != null">
				other_auther_name = #{otherAutherName,jdbcType=VARCHAR},
			</if>
			<if test="publishDate != null">
				publish_date = #{publishDate,jdbcType=VARCHAR},
			</if>
			<if test="publishMagazineThesisSet != null">
				publish_magazine_thesis_set =
				#{publishMagazineThesisSet,jdbcType=VARCHAR},
			</if>
			<if test="magazineType != null">
				magazine_type = #{magazineType,jdbcType=VARCHAR},
			</if>
			<if test="subjectType != null">
				subject_type = #{subjectType,jdbcType=VARCHAR},
			</if>
			<if test="stairSubject != null">
				stair_subject = #{stairSubject,jdbcType=VARCHAR},
			</if>
			<if test="projectSources != null">
				project_sources = #{projectSources,jdbcType=VARCHAR},
			</if>
			<if test="publishRange != null">
				publish_range = #{publishRange,jdbcType=VARCHAR},
			</if>
			<if test="thesisSetPublisher != null">
				thesis_set_publisher =
				#{thesisSetPublisher,jdbcType=VARCHAR},
			</if>
			<if test="wordsNumbers != null">
				words_numbers = #{wordsNumbers,jdbcType=VARCHAR},
			</if>
			<if test="schoolSign != null">
				school_sign = #{schoolSign,jdbcType=VARCHAR},
			</if>
			<if test="keyWords != null">
				key_words = #{keyWords,jdbcType=VARCHAR},
			</if>
			<if test="theAbstract != null">
				the_abstract = #{theAbstract,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				note = #{note,jdbcType=VARCHAR},
			</if>
			<if test="appearance != null">
				appearance = #{appearance,jdbcType=VARCHAR},
			</if>
			<if test="cnkiLink != null">
				cnki_link = #{cnkiLink,jdbcType=VARCHAR},
			</if>
			<if test="issn != null">
				issn = #{issn,jdbcType=VARCHAR},
			</if>
			<if test="cn != null">
				cn = #{cn,jdbcType=VARCHAR},
			</if>
			<if test="volumeNumberPage != null">
				volume_number_page =
				#{volumeNumberPage,jdbcType=VARCHAR},
			</if>
			<if test="doi != null">
				doi = #{doi,jdbcType=VARCHAR},
			</if>
			<if test="conferenceName != null">
				conference_name = #{conferenceName,jdbcType=VARCHAR},
			</if>
			<if test="conferenceSite != null">
				conference_site = #{conferenceSite,jdbcType=VARCHAR},
			</if>
			<if test="conferenceDate != null">
				conference_date = #{conferenceDate,jdbcType=VARCHAR},
			</if>
			<if test="embodyNumber != null">
				embody_number = #{embodyNumber,jdbcType=VARCHAR},
			</if>
			<if test="translationOrNot != null">
				translation_or_not =
				#{translationOrNot,jdbcType=VARCHAR},
			</if>
			<if test="referenceFrequency != null">
				reference_frequency =
				#{referenceFrequency,jdbcType=VARCHAR},
			</if>
			<if test="supportProject != null">
				support_project = #{supportProject,jdbcType=VARCHAR},
			</if>
			<if test="no2AutherName != null">
				no2_auther_name = #{no2AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no2AutherNumber != null">
				no2_auther_number = #{no2AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no3AutherName != null">
				no3_auther_name = #{no3AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no3AutherNumber != null">
				no3_auther_number = #{no3AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no4AutherName != null">
				no4_auther_name = #{no4AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no4AutherNumber != null">
				no4_auther_number = #{no4AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no5AutherName != null">
				no5_auther_name = #{no5AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no5AutherNumber != null">
				no5_auther_number = #{no5AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no6AutherName != null">
				no6_auther_name = #{no6AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no6AutherNumber != null">
				no6_auther_number = #{no6AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no7AutherName != null">
				no7_auther_name = #{no7AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no7AutherNumber != null">
				no7_auther_number = #{no7AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no8AutherName != null">
				no8_auther_name = #{no8AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no8AutherNumber != null">
				no8_auther_number = #{no8AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no9AutherName != null">
				no9_auther_name = #{no9AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no9AutherNumber != null">
				no9_auther_number = #{no9AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no10AutherName != null">
				no10_auther_name = #{no10AutherName,jdbcType=VARCHAR},
			</if>
			<if test="no10AutherNumber != null">
				no10_auther_number =
				#{no10AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="no1AutherNumber != null">
				no1_auther_number = #{no1AutherNumber,jdbcType=VARCHAR},
			</if>
			<if test="autherNumber != null">
				auther_number = #{autherNumber,jdbcType=INTEGER},
			</if>
			<if test="sdutAutherNumber != null">
				sdut_auther_number =
				#{sdutAutherNumber,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="site.gaoyisheng.pojo.Thesis">
		update thesis
		set type = #{type,jdbcType=VARCHAR},
		update thesis
		set
		type = #{type,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		no1_auther_type = #{no1AutherType,jdbcType=VARCHAR},
		no1_auther_name =
		#{no1AutherName,jdbcType=VARCHAR},
		communicate_auther_name =
		#{communicateAutherName,jdbcType=VARCHAR},
		workunit =
		#{workunit,jdbcType=VARCHAR},
		other_auther_name =
		#{otherAutherName,jdbcType=VARCHAR},
		publish_date =
		#{publishDate,jdbcType=VARCHAR},
		publish_magazine_thesis_set =
		#{publishMagazineThesisSet,jdbcType=VARCHAR},
		magazine_type =
		#{magazineType,jdbcType=VARCHAR},
		subject_type =
		#{subjectType,jdbcType=VARCHAR},
		stair_subject =
		#{stairSubject,jdbcType=VARCHAR},
		project_sources =
		#{projectSources,jdbcType=VARCHAR},
		publish_range =
		#{publishRange,jdbcType=VARCHAR},
		thesis_set_publisher =
		#{thesisSetPublisher,jdbcType=VARCHAR},
		words_numbers =
		#{wordsNumbers,jdbcType=VARCHAR},
		school_sign =
		#{schoolSign,jdbcType=VARCHAR},
		key_words =
		#{keyWords,jdbcType=VARCHAR},
		the_abstract =
		#{theAbstract,jdbcType=VARCHAR},
		note = #{note,jdbcType=VARCHAR},
		appearance = #{appearance,jdbcType=VARCHAR},
		cnki_link =
		#{cnkiLink,jdbcType=VARCHAR},
		issn = #{issn,jdbcType=VARCHAR},
		cn =
		#{cn,jdbcType=VARCHAR},
		volume_number_page =
		#{volumeNumberPage,jdbcType=VARCHAR},
		doi = #{doi,jdbcType=VARCHAR},
		conference_name = #{conferenceName,jdbcType=VARCHAR},
		conference_site =
		#{conferenceSite,jdbcType=VARCHAR},
		conference_date =
		#{conferenceDate,jdbcType=VARCHAR},
		embody_number =
		#{embodyNumber,jdbcType=VARCHAR},
		translation_or_not =
		#{translationOrNot,jdbcType=VARCHAR},
		reference_frequency =
		#{referenceFrequency,jdbcType=VARCHAR},
		support_project =
		#{supportProject,jdbcType=VARCHAR},
		no2_auther_name =
		#{no2AutherName,jdbcType=VARCHAR},
		no2_auther_number =
		#{no2AutherNumber,jdbcType=VARCHAR},
		no3_auther_name =
		#{no3AutherName,jdbcType=VARCHAR},
		no3_auther_number =
		#{no3AutherNumber,jdbcType=VARCHAR},
		no4_auther_name =
		#{no4AutherName,jdbcType=VARCHAR},
		no4_auther_number =
		#{no4AutherNumber,jdbcType=VARCHAR},
		no5_auther_name =
		#{no5AutherName,jdbcType=VARCHAR},
		no5_auther_number =
		#{no5AutherNumber,jdbcType=VARCHAR},
		no6_auther_name =
		#{no6AutherName,jdbcType=VARCHAR},
		no6_auther_number =
		#{no6AutherNumber,jdbcType=VARCHAR},
		no7_auther_name =
		#{no7AutherName,jdbcType=VARCHAR},
		no7_auther_number =
		#{no7AutherNumber,jdbcType=VARCHAR},
		no8_auther_name =
		#{no8AutherName,jdbcType=VARCHAR},
		no8_auther_number =
		#{no8AutherNumber,jdbcType=VARCHAR},
		no9_auther_name =
		#{no9AutherName,jdbcType=VARCHAR},
		no9_auther_number =
		#{no9AutherNumber,jdbcType=VARCHAR},
		no10_auther_name =
		#{no10AutherName,jdbcType=VARCHAR},
		no10_auther_number =
		#{no10AutherNumber,jdbcType=VARCHAR},
		no1_auther_number =
		#{no1AutherNumber,jdbcType=VARCHAR},
		auther_number =
		#{autherNumber,jdbcType=INTEGER},
		sdut_auther_number =
		#{sdutAutherNumber,jdbcType=INTEGER},
		status =
		#{status,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>
